# Code analysis
bandit
#cohesion
flake8==7.0.0
flake8-docstrings==1.7.0
flake8-polyfill==1.0.2
#metrics.pylint
pylint==3.1.0
radon

# Code style
black

# Documentation
pdoc3
sphinx
sphinx-rtd-theme # for ReadTheDocs local build

# Unit test and coverage
coverage